version 5.245.1

source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget Affogato

github wraikny/EffFs:85a9b0b316a9d98fc9f88b7f620fc9e2420e3b22 src/EffFs/EffFs.fs

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
nuget FAKE
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Testing.Expecto
    nuget FAKE.IO.Zip
    nuget FAKE.Net.Http
    nuget FSharp.Json