version 5.226.0

source https://www.nuget.org/api/v2

nuget FSharp.Core
// nuget Expecto
// nuget Expecto.FsCheck
nuget Affogato
nuget Elmish

github wraikny/Elmish.Reactive:8073adbf1e22f2c8f0035cef2738e26b6bb4c521 Elmish.Reactive.fs

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
nuget FAKE
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Testing.Expecto