version 5.226.0

source https://www.nuget.org/api/v2

nuget FSharp.Core
nuget Affogato

github wraikny/EffFs:1ac4202ff820ad8394b7fc0c7a9494b57317cdc3 src/EffFs/EffFs.fs

// [ FAKE GROUP ]
group Build
    storage none
    source https://api.nuget.org/v3/index.json
nuget FAKE
    nuget Fake.DotNet.Cli
    nuget Fake.IO.FileSystem
    nuget Fake.Core.Target
    nuget Fake.Core.ReleaseNotes
    nuget Fake.DotNet.AssemblyInfoFile
    nuget Fake.DotNet.Testing.Expecto
